<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>blogjsp.Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>blogjsp.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>blogjsp.Register</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>Subscribe</servlet-name>
        <servlet-class>blogjsp.Subscribe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notify</servlet-name>
        <servlet-class>blogjsp.Notify</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>EditPost</servlet-name>
        <servlet-class>blogjsp.EditPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>blogjsp.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajKomentarz</servlet-name>
        <servlet-class>blogjsp.dodajKomentarz</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>AddPost</servlet-name>
        <servlet-class>blogjsp.AddPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>AddPost</servlet-name>
        <url-pattern>/AddPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>Notify</servlet-name>
        <url-pattern>/Notify</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>EditPost</servlet-name>
        <url-pattern>/EditPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>Subscribe</servlet-name>
        <url-pattern>/Subscribe</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajKomentarz</servlet-name>
        <url-pattern>/dodajKomentarz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
